@import 'tailwindcss';

:root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --primary: hsl(0 0% 0%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(0 0% 95%);
    --secondary-foreground: hsl(0 0% 0%);
    --border: hsl(0 0% 60%);
    --radius: 0.5rem;
}

.dark {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 100%);
    --primary: hsl(0 0% 100%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(0 0% 15%);
    --secondary-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 75%);
}

@theme inline {
    --color-border: var(--border);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    * {
        scrollbar-width: none;
    }
}

@keyframes accordion-down {
    from {
        height: 0;
    }
    to {
        height: var(--accordion-height);
    }
}

@keyframes accordion-up {
    from {
        height: var(--accordion-height);
    }
    to {
        height: 0;
    }
}

.accordion-down {
    animation: accordion-down 0.2s ease-out;
}

.accordion-up {
    animation: accordion-up 0.2s ease-out;
}
